        body {
            margin: 0px;
            background-image: url('images/B.jpg');
            font-family: "Roboto", sans-serif;
            font-optical-sizing: auto;
            font-weight: 738;
            font-style: italic;
            font-variation-settings: "width" 100;
            background-size: cover;
        }

        .header {
            background-color: #0170f9;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 50px;
        }

        .logo {
            width: 100px;
        }

        .header-links a {
            color: white;
            padding: 5px 15px;
            text-decoration: none;
            border-radius: 20px;
        }

        .header-links a:hover {
            background-color: #63c1f8;
        }

        .btn {
            background-color: rgb(247, 45, 9);
            color: white;
            margin: 0px 10px;
            padding: 5px 15px;
            border-radius: 20px;
            border: none;

        }

        .btn:hover {
            background-color: #fc7c7c;
        }

        .landing-page {

            background-color: #0170f9;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 50px;
            color: white;
            border-radius: 0px 0px 50px 50px;
        }

        .landing-page-image-container img {
            border-radius: 20px;
            width: 700px;
        }

        .landing-page-search input {
            border-radius: 50px;
            border: none;
            outline: none;
            height: 30px;
            padding: 0 10px;
            font-size: medium;
        }

        .landing-page-search button {
            position: absolute;
            left: 200px;
            height: 30px;
            font-size: medium;
        }

        .landing-page-text-container {
            width: 600px;
        }

        .Trending-container {
            padding: 50px 50px;
        }

        .TrendingHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        .TrendingHeader h1 {
            margin: 0px;
            padding: 10px 0px;
            color: rgb(255, 255, 255);
        }

        .Trending-container span {
            color: rgb(255, 0, 0);
            text-transform: uppercase;
            font-size: 20px;
            color: aqua;
        }

        .card {
            background-color: gray;
            width: 300px;
            border-radius: 20px;
        }

        .card img {
            width: 217px;
            border-radius: 20px 20px 0 0;
            height: 225px;
        }

        .card-info img {
            width: 50px;
            height: 50px
        }

        .card-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: gray;
            padding: 5px 8px;
            border-radius: 0% 0 20px 20px;
        }

        .Trending-card-container {
            display: flex;
            gap: 120px;
            height: 300px;
            width: 200px;
        }

        .header-links i {
            font-size: 30px;
            margin: 0px 10px;
            color: aliceblue;
        }