<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css"rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='Loginstyle.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <Div class="Login-card-Container">
        <div class="login">
            <span>Login</span>
    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form method="POST">
        <input type="email" name="email" placeholder="Enter your email" required>
        <button type="submit">Login</button>
    </form>
        </div>
    </Div>
    
</body>

</html>